@import './colors.scss';

@mixin selection {
	background-color: $selection-bg-color;
}

@mixin code-selection {
	color: $code-selection-color;
	background-color: $code-selection-bg-color !important;
}

// From Materialize's button
@mixin md-button($color) {
	background-color: $color;
	border: none;
	border-radius: 2px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
	color: #fff;
	cursor: pointer;
	display: inline-block;
	height: 36px;
	letter-spacing: .5px;
	line-height: 36px;
	outline: 0;
	padding: 0 1.5rem;
	text-align: center;
	text-decoration: none;
	transition: .2s ease-out;
	vertical-align: middle;

	&:hover {
		background-color: lighten($color, 10%);
		box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
	}
	&:active {
		background-color: darken($color, 10%);
	}
}
